/*
Theme Name:     Themedd-child
Theme URI:      
Description:    Themedd child theme.
Author:         Me
Author URI:     
Template:       themedd
Version:        0.1.0
*/
body {
  overflow-x:hidden;
  --vert: #24b47e;
  --rouge:#ca0047;
  --gris:#eef0f3;

}
header .site-title {
  font-size:1.5rem;
}
header #site-header-secondary-menu {
  font-size:1rem;
}
.home .page-header {
  display:none;
}

@media (max-width: 767px) {
  .wp-block-columns {
    flex-direction:column;
  }
}
#main.site-main {
  padding:0;
}
.entry-content h2 {
  color:var(--rouge);
}
.entry-content h2 + h3 {
  margin-top:0;
}
.hero {
  background-color: #ca0047;
 /* background-image: linear-gradient( 170deg, #EA5455 30%, #BB2A4B 100%);*/
 flex-direction:column;
  text-align: center;
  min-height:25vw;
  justify-content: center;
  align-items:center;
  position: relative;
	/*left: 50%;
	transform: translate(-50%, 0);
	width: 100vw; */
  padding:20px 10px;
}
.hero h2,  .entry-content .hero h3  {
  color:#fff;
  margin-top:0;
}
.hero > .wp-block-column {
  flex-grow:0
}
p.button {
  margin:0;
}
p.button > a {
  color:#fff;
}
p.button.outline {
  border:solid 1px;
  background-color: transparent;
}
.hero .boutons {
  max-width:400px;
  text-align: center;
  display:flex;
  margin: auto;
  padding-top:30px;
}
.boutons-centres {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
@media screen and (max-width:500px) {
  .boutons-centres {
    flex-direction: column;
  }
}
.boutons-centres > p {
  flex-basis: 45%;
  margin-top:30px;
  
}
.gains {
  padding-top:50px;
}

.gains .wp-block-column:first-of-type {
  padding:0 10px
}

.gains .wp-block-column:last-of-type  {


  display:flex;
  padding-top:20px;

  align-items:center;

}

@media (min-width:768px) {
  .gains .wp-block-column:last-of-type  {
  padding-left:50px;
  }
}
.gains .wp-block-column:last-of-type p {
  margin-bottom:0
}
.gains img {
  width:100% !important;
}
.entry-content .wp-block-column ul {
  list-style:none;
  margin:0;
}

.entry-content .wp-block-column li:before {
  content:' ';
  display:inline-block;
  background-image:url('/wp-content/themes/themedd-child/images/check-square.svg');
  background-repeat:none;
  width:24px;
  height:24px;
  margin-right:10px;
  position:relative;
  top:6px;
}

.achat {
  border: solid 1px var(--gris);
  padding:40px 20px;
}
.achat img {
  width:100% !important;
  max-width:450px;
}
.achat .image  {
 display:flex;
  padding-top:20px;
  align-items:center;
  justify-content: center;
 
} 
.achat .texte {
   display:flex;
 flex-direction:column;
  align-items:center;
  justify-content: center;
}

.achat .texte h2 {
  margin-bottom:0.5rem;
}
.achat .texte h3 {
  margin-bottom:0;
  margin-top:0.5rem;
}

.faq, .reassurance {
  background-color:var(--gris);
  padding:40px 20px 0;
}

.faq-titre {
  background-color:var(--gris);
  margin-top:40px;
  margin-bottom: 0;
  padding:60px 20px 0;
}

h2.faq-titre  {
  color:var(--vert);
}
.faq .wp-block-column .question {
  background-color:#fff;
  margin:20px 0;
  padding:20px;
  text-align:left;
}
.faq .wp-block-column .question .titre {
  text-align: center;
}
.reassurance {
  font-size:80%;
  text-align: center;
}

.home .contact {
   background-color:var(--gris);
  padding:40px 20px 0;
  text-align:center;
}
#home-contact-form {
  display:none;
  margin: auto ;
  max-width:700px;
  padding:40px 20px;
}

#home-contact-form:target {
  display:block;
  
}
.caldera-grid .form-group {
  text-align: left;
}
.caldera-grid .caldera_forms_form label {
  font-weight:normal;
  padding-left:5px;
}
.caldera-grid .button {
  max-width:200px;
  display:block;
  margin:auto;
}
.widget_media_image {
  text-align: center;
}
footer .footer-widgets .widget {
  margin-bottom:0;
}
footer .site-info {
  padding-top:0;
}

section.doc-search {
  background-color:var(--gris);
  padding:50px 10px;
  text-align:center;

}

.post-type-archive-doc .dashicons-media-text{
  color:var(--rouge);
  font-size:inherit;
  top:5px;
  position:relative;
  padding-right:40px;
}

.grille {
  display:flex;
  justify-content:center;
  align-items:stretch;
  flex-wrap:wrap;
}
.grille > div {
  flex-basis:100%;
  margin:30px 0;
}
@media screen and (min-width:768px) {
  .grille > div {
  flex-basis:500px;
    flex-grow:0;
  margin:30px 10px;
    
}
}
@media screen and (min-width: 992px) {
  .single-doc #primary {
    order:2;
   
}
.single-doc #secondary {
      order:1;
      padding-right:10px;
  }
}
.sommaire li{
    margin-bottom:0.5rem;
}
.navCart-quantity, .navCart-cartTotalSeparator {
  display:none;
}

.search-form {
  max-width:600px;
  margin:30px auto;
}

.search-form input.search-field,
.search-form button.search-submit{
  background: #fff;
  height: 60px;
}


.search-form button.search-submit {
  margin-left:10px;
  
}

.doc-faq {
  padding:40px 20px;
  width:100%;
}

.doc-faq h2 {
  text-align:center;
}

.doc-faq details {
  max-width:1000px;
  margin:auto;
}

.support-contact-form {
  background-color:var(--gris);
  padding:40px 20px;
  text-align:center;
  width: 100%;
}
.support-contact-form form {
  margin: auto ;
  max-width:700px;
}

.logos-paiement {
  padding:30px;
  max-width:400px;
}
.reassurance a {
  color:rgb(105, 105, 105);
}
.logo-secure {
  max-width:120px;
  padding:10px;
}
.reassurance .wp-block-column {
  display:flex;
  align-items: center;
  justify-content: center;
}

#edd-purchase-button {
  max-width:400px;
  display:block;
  margin:0 auto 30px;
}